.App{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  
  }

  .div{
    width: 60%;
    margin: 0 20%;
    margin-bottom: 10px;
    z-index: -1;
  }
  @media (max-width: 790px) {
    .div{
      width: 95%;
      margin: 0 2.5%;
    }
  }
